/Server/nbproject/private/
/Client/nbproject/private/
/Server/build/
/Server/target/
/Client/target/
dbData.txt
/SA_Lab5_Web/nbproject/private/
/SA_Lab5_Web/build/
/SA_Lab5_Client/nbproject/private/
/SA_Lab5_Client/build/
/SA_Lab5_Client/dist/
/Zaj08012021/target/
